ServiceHandle/Connected Services/EepPlanService/DdcxMainPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://main.ddcx.kt.com/" targetNamespace="http://main.ddcx.kt.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ddcx" type="tns:ddcx" />
  <xs:element name="ddcxResponse" type="tns:ddcxResponse" />
  <xs:complexType name="ddcx">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ddcxResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>