TestService/Connected Services/LocalPlanService/SystemPlanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemPlanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55214/API/SystemPlanService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55214/API/SystemPlanService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemPlanService_AutoXfPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoXfPlan" />
  </wsdl:message>
  <wsdl:message name="ISystemPlanService_AutoXfPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoXfPlanResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemPlanService_AutoCyPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AutoCyPlan" />
  </wsdl:message>
  <wsdl:message name="ISystemPlanService_AutoCyPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutoCyPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemPlanService">
    <wsdl:operation name="AutoXfPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemPlanService/AutoXfPlan" message="tns:ISystemPlanService_AutoXfPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemPlanService/AutoXfPlanResponse" message="tns:ISystemPlanService_AutoXfPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutoCyPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemPlanService/AutoCyPlan" message="tns:ISystemPlanService_AutoCyPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemPlanService/AutoCyPlanResponse" message="tns:ISystemPlanService_AutoCyPlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemPlanService" type="tns:ISystemPlanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoXfPlan">
      <soap:operation soapAction="http://tempuri.org/ISystemPlanService/AutoXfPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoCyPlan">
      <soap:operation soapAction="http://tempuri.org/ISystemPlanService/AutoCyPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemPlanService">
    <wsdl:port name="BasicHttpBinding_ISystemPlanService" binding="tns:BasicHttpBinding_ISystemPlanService">
      <soap:address location="http://localhost:55214/API/SystemPlanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>